.main {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.content {
    width: 70%;
    height: 70%;
}

.generator {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 30px 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.space {
    grid-area: 1 / 1 / 2 / 2;
}

.column-size {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    justify-items: center;
}

.column-size input {
    width: 60px !important;
    height: 30px !important;
}

.row-size {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    align-items: center;
}

.row-size input {
    width: 60px !important;
    height: 30px !important;
}

.grid-cap {
    width: 100%;
    height: 100%;
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
}

.grid {
    border: 1px dashed rgba(0, 0, 0, 0.2);
}

.grid-copy .grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-box {
    width: 100%;
}

.setting {
    margin-top: 55px;
    width: 200px;
}

.grid-test {
    width: 500px;
    height: 500px;
}

.parent {
    height: 100%;
}

.parent div {
    background-color: rgba(3, 255, 3, 0.1);
}

#grid2 {
    display: grid;
    height: 100%;
}
